html, body {
  overflow-x: hidden;
  min-height: 100%!important;
  font-family: 'Raleway', sans-serif;
}

.App {
  min-height: 100vh;
}


/* Navigation Bar */
.nav-main {
  min-height: 10vh;
  height: auto;
}

.navbar-brand {
  color:#e9c600 !important;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}

.navlinks {
  padding-left:10px;
  padding-right:10px;

  font-weight: 600;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.5px;
  color: #363636 !important;
}


/* Homepage */
.img-container {
  width: 100vw;
  height: auto;
  position: relative;
  max-height: 1862px !important;
}

.lander-img {
  width:100%;
  height:auto;
  max-height:100%;
}

.call-to-action {
  border-radius: 1px;
  background-color: #e9c600;
  border-color: #e9c600;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 60px;
  padding-left: 60px;
  color: #3b3b3b!important;
  font-weight: 600;
  font-size: .5em;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color:white;
}

@media only screen and (max-width: 600px) {
  .bottom-left {
    font-size: 20px;
  }

  .call-to-action {
    width: 70px;
    padding-left:25px;
    padding-right:25px;
    font-size: .55em;
  }

}
